In [1]:
import pandas

ele_data = pandas.read_csv('Data Sets/household_power_randomized.csv')
df = pandas.DataFrame(ele_data)

In [2]:
for i in range(len(df.Date)):
    dt = df.Date[i].split('/')
    tm = df.Time[i].split(':')

    if len(dt[0]) == 1:
        dt[0] = '0' + dt[0]
    if(len(dt[1]) == 1):
        dt[1] = '0' + dt[1]
    if(len(dt[2]) == 2):
        dt[2] = '20' + dt[2]

    if len(tm[0]) == 1:
        tm[0] = '0' + tm[0]
    if len(tm[1]) == 1:
        tm[1] = '0' + tm[1]
    if len(tm[2]) == 1:
        tm[2] = '0' + tm[2]
    
    df.Random[i] = dt[2] + dt[1] + dt[0] + tm[0] +tm[1] + tm[2]

/tmp/ipykernel_18045/2031937324.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Random[i] = dt[2] + dt[1] + dt[0] + tm[0] +tm[1] + tm[2]

In [3]:
sorted_df = df.sort_values(by=['Random'])
sorted_df.set_index('Index', drop=True, inplace = True)
sorted_df.drop(columns='Random', axis=1, inplace=True)
sorted_df.drop(columns='Unnamed: 10', axis=1, inplace=True)

In [4]:
sorted_df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Index,,,,,,,,,
0,1/1/07,0:00:00,2.58,0.136,241.97,10.6,0,0,0.0
1,1/1/07,0:01:00,2.552,0.1,241.75,10.4,0,0,0.0
2,1/1/07,0:02:00,2.55,0.1,241.64,10.4,0,0,0.0
3,1/1/07,0:03:00,2.55,0.1,241.71,10.4,0,0,0.0
4,1/1/07,0:04:00,2.554,0.1,241.98,10.4,0,0,0.0
...,...,...,...,...,...,...,...,...,...
260635,30/6/2007,23:55:00,2.88,0.36,239.01,12,0,0,18.0
260636,30/6/2007,23:56:00,2.892,0.358,238.86,12.2,0,0,17.0
260637,30/6/2007,23:57:00,2.882,0.28,239.05,12,0,0,18.0
260638,30/6/2007,23:58:00,2.66,0.29,238.98,11.2,0,0,18.0
260639,30/6/2007,23:59:00,2.548,0.354,239.25,10.6,0,1,17.0

In [ ]:
# sorted_df.to_csv('Data Sets/Sorted.csv')